<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost/aerolinea</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">admin</property>
        <mapping class="com.aerolinea.entidad.Aviones"/>
        <mapping class="com.aerolinea.entidad.Vuelos"/>
        <mapping class="com.aerolinea.entidad.Roles"/>
        <mapping class="com.aerolinea.entidad.Aeropuertos"/>
        <mapping class="com.aerolinea.entidad.Reservaciones"/>
        <mapping class="com.aerolinea.entidad.Usuarios"/>
        <mapping class="com.aerolinea.entidad.Paises"/>
    </session-factory>
</hibernate-configuration>
